<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/frontstyle.css">
    <link rel="stylesheet" href="css/frontform.css">
  <link rel="stylesheet" type="text/css" href="style.css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <title>Document</title>
</head>
<body>
    <header>
        <a href="/" class="brand">SOOTHING</a>
        <div class="menu-btn"></div>
        <div class="navigation">
            <div class="navigation-items">
                <a href="#">Home</a>
                <a href="#">About</a>
                <a href="#">Explore</a>
                <button class="signin" id="cont">SignIn/SignUp</button>
                <a href="#">Contact</a>
            </div>
        </div>
    </header>
    <section class="home">
        <video class="video-slide active" src="video/1.mp4" autoplay muted loop></video>
        <video class="video-slide" src="video/7.mp4" autoplay muted loop></video>
        <video class="video-slide" src="video/3.mp4" autoplay muted loop></video>
        <video class="video-slide" src="video/4.mp4" autoplay muted loop></video>
        <video class="video-slide" src="video/5.mp4" autoplay muted loop></video>
        <div class="content">
            <h1>Lets Buzz<br><span>it</span></h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci assumenda numquam dolores odit sint, deleniti nulla veniam repellendus ad suscipit natus. Doloribus non rem repellat, nobis vel soluta aperiam? Assumenda?</p>
            <a href="#">Read More</a>
        </div>
        <div class="media-icons">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
        </div>
        <div class="slider-navigation">
            <div class="nav-btn"></div>
            <div class="nav-btn"></div>
            <div class="nav-btn"></div>
            <div class="nav-btn"></div>
            <div class="nav-btn"></div>
        </div>
    </section>
    <script type="text/javascript">
        const menuBtn = document.querySelector(".menu-btn");
        const navigation = document.querySelector(".navigation");

        menuBtn.addEventListener("click",()=>{
            menuBtn.classList.toggle("active");
            navigation.classList.toggle("active");
        });

        //for video slider navigation
        const btns = document.querySelectorAll(".nav-btn");
        const slides = document.querySelectorAll(".video-slide");
        var sliderNav = function(manual){
            btns.forEach((btn)=>{
                btn.classList.remove("active");
            });
            slides.forEach((slide)=>{
                slide.classList.remove("active");
            });
            btns[manual].classList.add("active");
            slides[manual].classList.add("active");
        }
        btns.forEach((btn,i)=>{
            btn.addEventListener("click",()=>{
                sliderNav(i);
            });
        });
    </script>


    <!-- signIn/SignUp form -->

    <div class="container" id="container">
      <div class="form-container sign-up-container">
        <form action="/register" method="post">
          <h1>Create Account</h1>
          <div class="social-container">
            <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
            <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
          </div>
          <span>or use your email for registration</span>
          <input type="text" placeholder="Name" name="name"/>
          <input type="text" placeholder="Email" name="email"/>
          <input type="text" placeholder="Password" name="password"/>
          <input type="file" placeholder="choose" name="pic" accept="image/*"/>
          <button type="submit">Sign Up</button>
        </form>
      </div>
      <div class="form-container sign-in-container">
        <form action="/signin" method="post">
          <h1>Sign in</h1>
          <div class="social-container">
            <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
            <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
          </div>
          <span>or use your account</span>
          <input type="text" placeholder="Email" name="gmail"/>
          <input type="text" placeholder="Password" name="gpassword"/>
          <a href="#">Forgot your password?</a>
          <button type="submit">Sign In</button>
        </form>
      </div>
      <div class="overlay-container">
        <div class="overlay">
          <div class="overlay-panel overlay-left">
            <h1>Welcome Back!</h1>
            <p>To keep connected with us please login with your personal info</p>
            <button class="ghost" id="signIn">Sign In</button>
          </div>
          <div class="overlay-panel overlay-right">
            <h1>Hello, Friend!</h1>
            <p>Enter your personal details and start journey with us</p>
            <button class="ghost" id="signUp">Sign Up</button>
          </div>
        </div>
      </div>
    </div>
  <script>
        const signUpButton = document.getElementById('signUp');
        const signInButton = document.getElementById('signIn');
        const container = document.getElementById('container');

        signUpButton.addEventListener('click', () => {
          container.classList.add("right-panel-active");
        });

        signInButton.addEventListener('click', () => {
          container.classList.remove("right-panel-active");
        });
        document.querySelector(".signin").addEventListener('click',()=>{
          if(container.style.display == "block"){
            container.style.display = "none"
          }
          else{
            container.style.display = "block"
          }
      })
  </script>
<script type="text/javascript" src="javascript/frontscript.js"></script>
</body>
</html>