<div class="backslide">
        <div class="backslideImg">
                <img src="BackgroundImg/pixel.jpg" alt="" class="imgsrc">
                <div class="colorOverlay"></div>
        </div>
    </div>