<div class="sidebar">
            <div class="title">
                <a href="/">SOOTHING</a>
            </div>
            <div class="sideMenu">
                <a href="/index" class="mainPage"><span class="material-icons">home</span><p>Home</p></a>
                <a href="/searchbar" class="srchBar"><span class="material-icons">search</span><p>Search</p></a>
                <a href="#"><span class="material-icons">library_music</span><p>Albums</p></a>
                <a href="#"><span class="material-icons">person</span><p>Artists</p></a>
            </div>
            <div class="sep"></div>
            <div class="title1">Library</div>
            <div class="library">
                <a href="#"><span class="material-icons-outlined">schedule</span><p>Recently Played</p></a>
                <a href="#"><span class="material-icons-outlined">favorite_border</span><p>Favourite Songs</p></a>
            </div>
            <div class="sep"></div>
            <div class="title1">Playlist</div>
            <div class="playlist">
                <div class="create">
                    <a href="#"><span class="material-icons">playlist_add</span><p>Create Playlist</p></a>
                </div>
                <a href="#"><span class="material-icons">queue_music</span><p>Top 50</p></a>
                <a href="#"><span class="material-icons">queue_music</span><p>Hindi Song</p></a>
                <a href="#"><span class="material-icons">queue_music</span><p>Masala</p></a>
            </div>
            <div class="darkLightMode">
                <input class="tick" type="checkbox" id="check"/>
                <label class="slider" for="check"><p class="mode"></p></label>
            </div>
    </div>